<style>


    @font-face {
        font-family: Faehound;
        src: url("faehound.otf") format("opentype");
    }

    :root {
        /* Primary theme color */
        --primary-color: #000;
        /* Primary theme text color */
        --primary-text-color: #000;
        --primary-header-text-color: #fff;
        --primary-text-color-over: #6a51e8;
        /* Primary theme link color */
        --primary-link-color: #6a51e8;
        /* Secondary color: the background body color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #F6F7D2;
        /* Highlight text color of table of content */
        --toc-text-color:#d7d7d7;
        --toc-highlight-text-color: #f2f2f2;
        --toc-background-color: #000000;

        --shadow-color: #ddd;

        /* Font used for headers (h1 & h2) */
        --header-font-family: "Faehound", sans-serif;
        /* Font used for text */
        --text-font-family: "Fira Sans", sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #000000;
            --primary-text-color: #d7d7d7;
            --primary-header-text-color: #fff;
            --primary-text-color-over: #e7ff35;
            --primary-link-color: #e7ff35;
            --secondary-color: #171717;
            --secondary-text-color: #F6F7D2;
            --toc-highlight-text-color: #f2f2f2;
            --toc-background-color: #000000;
            --code-color: white;
            --code-background-color: #4a4a4a;

            --shadow-color: #202020;
            --header-font-family: "Faehound", sans-serif;
            --text-font-family: "Fira Sans", sans-serif;
        }
        footer {
            background-color: #000000 !important;
        }
    }


.logo {
    font-family: Faehound !important;
}
.title-text {
line-height: 1.4em;
}



</style>
