<style>


    @font-face {
        font-family: Faehound;
        src: url("/faehound.otf") format("opentype");
    }

    :root {

        --primary-color: #000000;
        --primary-text-color: #d7d7d7;
        --primary-header-text-color: #fff;
        --primary-text-color-over: #e7ff35;
        --primary-link-color: #e7ff35;
        --secondary-color: #171717;
        --secondary-text-color: #F6F7D2;
        --toc-text-color:#d7d7d7;
        --toc-highlight-text-color: #f2f2f2;
        --toc-background-color: #000000;
        --code-color: white;
        --code-background-color: #4a4a4a;

        --shadow-color: #000;
        --header-font-family: "Faehound", sans-serif;
        --text-font-family: "Fira Sans", sans-serif;

    }
    footer {
        background-color: #000000 !important;
    }



.logo {
    font-family: Faehound !important;
}
.title-text {
line-height: 1.4em;
}



</style>
